<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <title>Calculadora de costo de envío</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <style>
            .myDiv {
              border: 1px outset black;
            }
        </style>
    </head>

    <body>
        
        <div class="container" style="padding-top:80px">
        <h1>Calculadora de costo de envío</h1>

        <form action="/" method="post">

            <div class="form-group" style="padding-top:20px">
                <label for="peso">Peso (gr)</label>
                <input type="number" class="form-control" name="peso" placeholder="Ingresa el peso en gramos">
            </div>

            <div class="form-group" style="padding-top:20px">
                <label for="volumen">Volumen (cm3)</label>
                <input type="number" class="form-control" name="volumen" placeholder="Ingresa el volumen en centimetros cúbicos">
            </div>

            <div class="form-group" style="padding-top:10px">
                <select name="region">
                    <option value="SP">Sao Pablo</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="AL">Alagoas</option>
                    <option value="AM">Amazonas</option>
                    <option value="AP">Amapá</option>
                    <option value="BA">Bahía</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MS">Mato Grosso del Sur</option>
                    <option value="MT">Mato Grosso </option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RN">Río Grande del Norte</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="RS">Río Grande del Sur/option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                    <option value="AC">Acre</option>
                </select>
            </div>

        
            <button type="submit" class="btn btn-primary">Calcular</button>

    </body>

</html>
